

body{
    background-color: #EDEEF0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.all-section{
    margin: 0 150px;

}

.header_section{
    background-color: #fff;
    height: 48px;
    font-family: fontawesome, Arial, Helvetica, sans-serif;
    margin: 0 auto;
    display: flex;

}
.TopHomeLink{
    /* background-color: #F0EAD6; */
    width: 165px;
    height: 100%;
    display: flex;
    align-items: center;



}
.TopHomeLink img{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.TopHomeLink span{
    width: 11px;
    font-weight: 600;
}


.TopSearch__nav{
    width: 245px;
    display: flex;
    background-color: #EDEEF0;
    border-radius: 8px;
    margin: 8px 0;
}

.search_text{
    border: none;
    background: none;
    outline: none;
    float:right;
}

.search_btn{
    color: #8A94A0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 20px;
    padding: 7px 7px;

}
.TopUserBlock{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Top_user_name{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0 10px 0 450px;
}
.Top_user_avatar{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.sitebar_section{
    margin-top: 15px;

}
.sitebar_section div{
    font-size: 14px;
    height: 30px;
    width: 163px;
    padding: 1px 0;
}

.sitebar_section i{
    color: #5181B8;
    margin-right: 6px;
    font-size: 15px;
}
.sitebar_additional_block {
    padding-top: 15px;
    border-top: 1px solid #BFBFBF;
    border-bottom: 1px solid #BFBFBF;
}
.sitebar_additional_block div{
    font-size: 14px;
    height: 30px;
    width: 163px;
    padding: 1px 0;
}

.sitebar_additional_block i{
    color: #5181B8;
    margin-right: 6px;
    font-size: 15px;
}